<!--<h1 mat-dialog-title>Hi {{data.name}}</h1>-->
<!--<div mat-dialog-content>-->
  <!--<p>What's your favorite animal?</p>-->
  <!--<mat-form-field>-->
    <!--<input matInput [(ngModel)]="data.animal">-->
  <!--</mat-form-field>-->
<!--</div>-->
<!--<div mat-dialog-actions>-->
  <!--<button mat-button (click)="onNoClick()">No Thanks</button>-->
  <!--<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>-->
<!--</div>-->

<div class="container-fluid" >
  <div *ngIf="currentFileUpload" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
         aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
      {{progress.percentage}}%</div>
  </div>

  <label class="btn btn-default">
    <input type="file" (change)="selectFile($event)" multiple="multiple">
    <span>{{result}}</span>
  </label>

  <button mat-button color="primary" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
</div>
