<div style="min-height: 600px">
  <h2 *ngIf="!empty">You don't have products which are on sale.</h2>
  <ngb-accordion [closeOthers]="true" activeIds="ngb-panel-0">
    <ngb-panel *ngFor="let p of product" title="{{p.title}} price: {{p.price|currency:'USD'}} New Messages: {{(p.id | productView: operationView).length}}">
      <ng-template ngbPanelContent>
          <mat-card class="my-card">
            <mat-card-header>
              <!--<div mat-card-avatar class="example-header-image"></div>-->
              <mat-card-title>{{p.title}}</mat-card-title>
              <mat-card-subtitle>{{p.price|currency: 'USD'}}</mat-card-subtitle>
            </mat-card-header>
            <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
            <mat-card-content>
              <p>&nbsp; &nbsp;{{p.description}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="accent" (click)="openDialog(p)">Modify product</button>
            </mat-card-actions>

            <mat-card-actions  *ngFor="let pv of p.id | productView: operationView">
              <mat-label matBadge="{{pv.viewStatus === 0 ? 1: null}}" matBadgeColor="accent" matBadgePosition="before">&nbsp; &nbsp;&nbsp;{{pv.buyerUserName}} wants to buy your product with the price of {{pv.nowPrice | currency: 'USD'}} </mat-label>
              <button mat-raised-button color="warn" *ngIf="show" (click)="accept(pv)">ACCEPT</button>
              <button mat-button color="warn" *ngIf="show" (click)="reject(pv)">REJECT</button>
            </mat-card-actions>
          </mat-card>
       <mat-tab-group>
        <mat-tab  class="mat-tab-label" *ngFor="let pitem of p.id | productImage: productImage" label="^">
          <img [src]="pitem.image" style="height: 400px;width: 400px; margin-left: 30%;margin-top: 20px" >
        </mat-tab>
      </mat-tab-group>
          <!--<div >-->
            <!--<mat-tab-group >-->
              <!--<mat-tab  class="mat-tab-label" *ngFor="let pitem of p.id | productImage: productImage" label="^">-->
                <!--<img [src]="pitem.image" class="image">-->
              <!--</mat-tab>-->
            <!--</mat-tab-group>-->
          <!--</div>-->
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
