<div fxLayout fxLayoutAlign="center" style="margin: 50px 50px;">
  <mat-card fxLayout="column" fxFlex="1 1 50%" fxFlex.lt-sm="1 1 auto">
    <mat-card-title>Change Password</mat-card-title>
    <form [formGroup]="changePasswordFormGroup" (ngSubmit)="onSubmit()" fxLayout="column" #changePasswordForm="ngForm">
      <mat-form-field>
        <mat-placeholder>Old Password</mat-placeholder>
        <input type="password" matInput id="oldPassword" formControlName="oldPassword" required>
        <mat-error *ngIf="(changePasswordFormGroup.get('oldPassword').touched)  && changePasswordFormGroup.get('oldPassword').invalid">
          Please input your old password
        </mat-error>
      </mat-form-field>
      <div fxLayout="column" formGroupName="passwordGroup">
        <mat-form-field>
          <mat-placeholder>New Password</mat-placeholder>
          <input type="password" matInput id="password" formControlName="password" required>
          <mat-error *ngIf="(changePasswordForm.submitted || changePasswordFormGroup.get('passwordGroup').get('password').touched) && changePasswordFormGroup.get('passwordGroup').get('password').invalid">
            Password can't be empty!
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-placeholder>Confirm Password</mat-placeholder>
          <input type="password" matInput id="confirm_password" formControlName="confirm_password" required>
          <mat-error *ngIf="(changePasswordForm.submitted || changePasswordFormGroup.get('passwordGroup').get('confirm_password').touched) && changePasswordFormGroup.get('passwordGroup').get('confirm_password').invalid">
            Confirm Password can't be empty!
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="(changePasswordForm.submitted || (changePasswordFormGroup.get('passwordGroup').get('password').touched && changePasswordFormGroup.get('passwordGroup').get('confirm_password').touched))
          && changePasswordFormGroup.get('passwordGroup').invalid">
          {{changePasswordFormGroup.get('passwordGroup').errors.passwordGroup}}
        </mat-error>
      </div>
      <mat-error *ngIf="changePasswordForm.submitted && err">
        Passwords don't match. Please try again.
      </mat-error>
      <p>
        <button type="submit" mat-raised-button color="primary">Confirm</button>
      </p>
    </form>
  </mat-card>
</div>
