<div style="min-height: 600px">
<div fxLayout fxLayoutAlign="center" style="margin: 50px 50px;">
  <mat-card fxLayout="column" fxFlex="1 1 50%" fxFlex.lt-sm="1 1 auto">
    <mat-card-title>Register</mat-card-title>
    <form [formGroup]="registerFormGroup" (ngSubmit)="onSubmit()" fxLayout="column" #registerForm="ngForm">
      <mat-form-field>
        <mat-placeholder>Email</mat-placeholder>
        <input type="text" matInput id="email" formControlName="email" required>
        <mat-error *ngFor="let validation of emailMessages">
          <mat-error class="error-message" *ngIf="registerFormGroup.get('email').hasError(validation.type) && (registerFormGroup.get('email').dirty || registerFormGroup.get('email').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
      <div fxLayout="column" formGroupName="passwordGroup">
        <mat-form-field>
          <mat-placeholder>Password</mat-placeholder>
          <input type="password" matInput id="password" formControlName="password" required>
          <mat-error *ngIf="(registerForm.submitted || registerFormGroup.get('passwordGroup').get('password').touched) && registerFormGroup.get('passwordGroup').get('password').invalid">
            Password can't be empty!
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-placeholder>Confirm Password</mat-placeholder>
          <input type="password" matInput id="confirm_password" formControlName="confirm_password" required>
          <mat-error *ngIf="(registerForm.submitted || registerFormGroup.get('passwordGroup').get('confirm_password').touched) && registerFormGroup.get('passwordGroup').get('confirm_password').invalid">
            Confirm Password can't be empty!
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="(registerForm.submitted || (registerFormGroup.get('passwordGroup').get('password').touched && registerFormGroup.get('passwordGroup').get('confirm_password').touched))
          && registerFormGroup.get('passwordGroup').invalid">
          {{registerFormGroup.get('passwordGroup').errors.passwordGroup}}
        </mat-error>
      </div>
      <mat-error *ngIf="registerForm.submitted && err">
        Username or password are not valid. Try to use new ones.
      </mat-error>
      <p>
        <button type="submit" mat-raised-button color="primary">Register</button>
      </p>
    </form>
  </mat-card>
</div>
</div>
