
<div class="container">
  <!--<label >-->
    <!--Choose your header icon: <button mat-stroked-button (click)="openBottomSheet()"  style="float: right;">Open file</button>-->
  <!--</label>-->
    <!--<img [src] = "imageToShow" style="width: 100px;height: 140px;margin-left: 40%"><br/><br/>-->
  <div class="container-fluid">
    <div *ngIf="currentFileUpload" class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
           aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
        {{progress.percentage}}%</div>
    </div>

    <label class="btn btn-default">
     Choose Your Icon: <input type="file" (change)="selectFile($event)">
      <!--<span>{{result}}</span>-->
    </label>

    <button class="btn btn-success" [disabled]="!selectedFiles" >Upload</button>
  </div>
  <form [formGroup]="info" (ngSubmit)="onSubmit()" class="container">
    <!--<form class="container" [formGroup]="info" (ngSubmit)="onSubmit()">-->


      <mat-form-field
        [hideRequiredMarker]="false"
        floatLabel="auto">
         <input matInput placeholder="Please Input Your Name" id="uname" formControlName="uname" required>
        <mat-error *ngIf="(info.get('uname').touched)&&info.get('uname').errors && info.get('uname').errors.required">
          Your name can't be empty!
        </mat-error>
        <mat-error *ngIf="(info.get('uname').touched)&&info.get('uname').errors && info.get('uname').errors.minlength">
          Please input a correct name!
        </mat-error>
        <mat-error *ngIf="(info.get('uname').touched)&&info.get('uname').errors && info.get('uname').errors.maxlength">
          Please do not exceed 20 letters!
        </mat-error>
      </mat-form-field>
      <mat-form-field
        [hideRequiredMarker]="false"
        floatLabel="auto">
        <input matInput placeholder="Please Input Your Phone Number" id="phone" formControlName="phone" required>
        <mat-error *ngIf="(info.get('phone').touched)&&info.get('phone').errors && info.get('phone').errors.required">
          Please input a You Phone Number!
        </mat-error>
        <mat-error *ngIf="(info.get('phone').touched)&&info.get('phone').errors && info.get('phone').errors.pattern">
          Please input a valid Phone Number!
        </mat-error>
      </mat-form-field>


      <mat-form-field
        floatLabel="auto">
        <mat-label>Please Input Your Address1</mat-label>
        <input matInput placeholder="Drive/Ave" formControlName="address1" id="address1">
      </mat-form-field>
      <mat-form-field
        floatLabel="auto">
        <mat-label>Please Input Your Address2</mat-label>
        <input matInput placeholder="Suite/Apt" formControlName="address2" id="address2">
      </mat-form-field>
      <mat-form-field
        [hideRequiredMarker]="false"
        floatLabel="auto">
        <input matInput placeholder="Please Input Your City" id="city" formControlName="city" required>
        <mat-error *ngIf="(info.get('city').touched)&&info.get('city').errors && info.get('city').errors.required">
          Please Input City!
        </mat-error>
        <mat-error *ngIf="(info.get('city').touched)&&info.get('city').errors && (info.get('city').errors.minlength||info.get('city').errors.maxlength)">
          Please Input a Valid City name!
        </mat-error>
      </mat-form-field>
      <mat-form-field
        [hideRequiredMarker]="false"
        floatLabel="auto">
        <input matInput placeholder="Please Input Your State" id="state" formControlName="state" required>
        <mat-error *ngIf="(info.get('state').touched)&&info.get('state').errors && info.get('state').errors.required">
          Please Input State!
        </mat-error>
        <mat-error *ngIf="(info.get('state').touched)&&info.get('state').errors && (info.get('state').errors.minlength||info.get('state').errors.maxlength)">
          Please Input a Valid State Name!
        </mat-error>
      </mat-form-field>
      <mat-form-field
        [hideRequiredMarker]="false"
        floatLabel="auto">
        <input matInput placeholder="Please Input Your Zip Code" id="zip" formControlName="zip" required>
        <mat-error *ngIf="(info.get('zip').touched)&&info.get('zip').errors && info.get('zip').errors.required">
          Please Input Zip Code!
        </mat-error>
        <mat-error *ngIf="(info.get('zip').touched)&&info.get('zip').errors && (info.get('zip').errors.pattern)">
          Please Input a Valid Zip Code!
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>


  </div>

