.container {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-content: center;
  margin-right: 5%;
  background-color: lightgray;
}

.container > * {
  width: 100%;
}

.container form {
  margin-bottom: 20px;
}

.container form > * {
  margin: 5px 0;
}

.container .mat-radio-button {
  margin: 0 5px;
}
.container .mat-raised-button {
  width: 20%;
}
