<div style="min-height: 600px">
  <mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over">
    <p>
      <mat-radio-group class="example-radio-group" [formControl]="mode">
        <mat-card-title>Filter: </mat-card-title><br/>
        <mat-card-subtitle>Types: </mat-card-subtitle>
        <mat-form-field>
          <mat-select placeholder="Products Type" [(ngModel)]="selectedValue">
            <mat-option [value]="All" (click)="showAll()">All</mat-option>
            <mat-option *ngFor="let pt of productTypes" [value]="pt.type" (click)="changeView()">
              {{pt.type}}
            </mat-option>
          </mat-select>
        </mat-form-field><br/>
        <mat-form-field style="width: 100%;">
          <input matInput type="number" placeholder="Min Price" [(ngModel)]="min" (change)="modifyViewByMin()">
          <button mat-button *ngIf="min" matSuffix mat-icon-button aria-label="Clear" (click)="restoreMin()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field><br/>
        <mat-form-field style="width: 100%;">
          <input matInput type="number" placeholder="Max Price" [(ngModel)]="max" (change)="modifyViewByMin()">
          <button mat-button *ngIf="max" matSuffix mat-icon-button aria-label="Clear" (click)="restoreMax()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </mat-radio-group>
    </p>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button color="primary" (click)="sidenav.toggle()">Pull</button></p>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let product of activePageDataChunk">
        <mat-expansion-panel-header>
          <mat-panel-title style="width: 40%">
            {{product.title}}
          </mat-panel-title>
          <mat-panel-description style="width: 20%;text-align: left">
            Price: {{product.price| currency: 'USD'}}
          </mat-panel-description>
          <mat-panel-description style="width: 20%;text-align: left" *ngIf="productTypes">
            Type: {{productTypes | productType: product.productTypeId}}
          </mat-panel-description>
          <mat-panel-description style="width: 20%;text-align: left" *ngIf="shelvesP">
            SellingType: {{shelvesP | shelvesProduct: product.id}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!--<mat-form-field>-->
          <mat-panel-description>
            <img src="" alt="" style="width: 30%;height:150px">
            <p style="display: inline-block">Description: {{product.description}}</p>

          </mat-panel-description>
        <mat-panel-description style="width: 40%;text-align: left">

        </mat-panel-description>
          <!--<input matInput placeholder="First name">-->
        <!--</mat-form-field>-->
        <mat-panel-description>
          <button mat-raised-button color="primary">Primary</button>
          <p map-raised-button style="float: right"> Deadline: {{product.deadline}}</p>
        </mat-panel-description>
        <!--<mat-form-field>-->
          <!--<input matInput placeholder="Age">-->
        <!--</mat-form-field>-->
      </mat-expansion-panel>
    </mat-accordion>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChanged($event)" showFirstLastButtons>
    </mat-paginator>

  </mat-sidenav-content>

</mat-sidenav-container>

</div>

<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
