.example-container {
  min-height: 600px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-radio-group {
  display: block;
  border: 1px solid #555;
  margin: 20px;
  padding: 10px;
}
/* Styles for tab labels */
.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: green;
  font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: green;
  font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: green;
}

.show-img {
  max-width: 400px;
  max-height: 400px;
  display: inline;
  padding-left: 20px;
  float: left;
}

.show-description {
  margin-left: 10%;
  width: 70%;
  font-size: 1.5em;
  padding: 50px;
  float: right;
}
.show-deadline {
  margin-left: 15%;
}
