<div class="container-fluid" *ngIf="product && productType" style="min-height: 600px">
  <div class="row product-detail-container">
    <div class="col-sm-9">
      <div class="product-detail-title">
        <h1>{{product.name}}</h1>
      </div>
      <div class="product-detail-image-container text-center">
        <mat-tab-group>
          <mat-tab  class="product-detail-image" *ngFor="let pitem of productImage" label="^">
            <img [src]="pitem.image" style="height: 90%;width: 90%" >
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div class="col-sm-3 product-detail-info-container">
      <div class="product-detail-info-price">
        {{product.price | currency: 'USD'}}
      </div>
      <div class="product-detail-info-brand">
        Type: {{productType.type}}
      </div>
      <div class="product-detail-info-brand">
        Title: {{product.title}}
      </div>
      <div class="product-detail-info-brand">
        Description: {{product.description}}
      </div>
      <div class="product-detail-info-brand">
        Selling Deadline: {{product.deadline}}
      </div>
      <div class="product-detail-info-cart-button-container" *ngIf="show; else auction;">
        <span>
          <button class="btn-block btn-primary btn" [disabled]="shelveProduct" (click)="negotiate()">Negotiate</button>
        </span>
      </div>
      <ng-template #auction>
        <div class="product-detail-info-cart-button-container">
          <div class="product-detail-info-bid-price" *ngIf="operationH[0]">
            Highest Price So Far: {{operationH[0].price | currency: 'USD'}}
          </div>
        <span>
          <button class="btn-block btn-primary btn" [disabled]="!shelveProduct" (click)="bidding()">Bidding</button>
        </span>
          <br/>
          <mat-accordion *ngIf="operationH[0]">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  View Biding History
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="product-detail-info-brand" style="color: darkcyan" *ngFor="let oh of operationH">
                User *** gave this price: {{oh.price | currency: 'USD'}}
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </ng-template>
    </div>
  </div>
</div>
