<mat-toolbar style="background-color: cornflowerblue">
  <span>
    <a style="color: whitesmoke;font-family: Impact;">iMORRUN e-commerce</a>
  </span>
  <span style="color: white;">
    <a mat-button routerLink="/home">Home</a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/products">Products</button>
      <button mat-menu-item routerLink="/auctionProducts">Auction Products</button>
      <button mat-menu-item routerLink="/counterofferProducts">Counteroffer Products</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu">Products</button>
  </span>

  <span class="example-fill-remaining-space"></span>
  <mat-menu #userProfile="matMenu">
    <button mat-menu-item routerLink="/user-info" (click)="sh.showHome = true;">User Info</button>
    <button mat-menu-item routerLink="/sell-products">Sell Products</button>
    <button mat-menu-item routerLink="/view-my-product">My Products</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
  <span [matMenuTriggerFor]="userProfile" mat-menu-item *ngIf="(authService.userSubject | async); else login" style="color: white;font-family:Cursive" (click)="assignAdmin()">
    {{(authService.userSubject | async).username|usernamePipe}} <mat-icon class="mat-icon material-icons" style="color: white">account_circle</mat-icon>
  </span>
  <ng-template #login>
    <a mat-menu-item routerLink="/users/login" style="color: white">Login</a>
  </ng-template>
  <ng-template *ngIf="(authService.userSubject | async)">
  </ng-template>
</mat-toolbar>
