<mat-toolbar color="primary">
  <span>
    <a>iMORRUN e-commerce</a>
  </span>
  <span>
    <a mat-button routerLink="/home">Home</a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/products">Products</button>
      <button mat-menu-item routerLink="/auctionProducts">Auction Products</button>
      <button mat-menu-item routerLink="/counterofferProducts">Counteroffer Products</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu">Products</button>
  </span>

  <span class="example-fill-remaining-space"></span>
  <a mat-button *ngIf="(authService.userSubject | async)">Admin</a>
  <mat-menu #userProfile="matMenu">
    <button mat-menu-item routerLink="/user-info" (click)="sh.showHome = true;">User Info</button>
    <button mat-menu-item routerLink="/sell-products">Sell Products</button>
    <button mat-menu-item routerLink="/view-my-product">My Products</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
  <span [matMenuTriggerFor]="userProfile" mat-menu-item *ngIf="(authService.userSubject | async); else login" style="color: white;">
    {{(authService.userSubject | async).username|usernamePipe}}
  </span>
  <ng-template #login>
    <a mat-menu-item routerLink="/users/login">Login</a>
  </ng-template>
  <ng-template *ngIf="(authService.userSubject | async)">
  </ng-template>
</mat-toolbar>
