<div class="container-fluid">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <a mat-button routerLink="/user-info" (click)="showHome = true">
        User Profile
      </a>
      <mat-divider></mat-divider>
      <a mat-button routerLink="user-profile"  (click)="showHome = false" class="float-md-left font-weight-bold">
        Edit
      </a>
    </mat-drawer>
    <button mat-icon-button (click)="drawer.toggle()">a</button>
    <!--<div class="example-sidenav-content">-->
    <!--<button type="button" mat-button (click)="drawer.toggle()">-->
    <!--Toggle sidenav-->
    <!--</button>-->
    <!--</div>-->
    <div *ngIf="showHome">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>

        </mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
      </mat-grid-list>
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-container>



</div>

