<div style="min-height: 600px;">
  <mat-drawer-container class="example-container" autosize>

    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <a mat-button style="width: 90%; text-align: left;" routerLink="/user-info" (click)="sh.showHome = true">
        User Profile
      </a>
      <mat-divider></mat-divider>
      <a mat-button style="width: 90%; text-align: left;" routerLink="modify-profile"  (click)="sh.showHome = false" class="float-md-left" *ngIf="havePro">
        Modify Profile
      </a>
      <mat-divider></mat-divider>
      <a mat-button style="width: 90%; text-align: left;" (click)="sh.showHome = false" routerLink="change-password" class="float-md-left">
        Change Password
      </a>
    </mat-drawer>
    <button mat-icon-button (click)="drawer.toggle()">Draw</button>

    <div style="margin-left: 25%;" *ngIf="sh.showHome">
      <mat-card class="example-card" *ngIf="userDetail">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title >{{userDetail.name}}</mat-card-title>
          <mat-card-subtitle>{{userDetail.email}}</mat-card-subtitle>
          <button mat-raised-button color="primary" style="height: 50%; float: end" routerLink="user-profile" (click)="sh.showHome = false" *ngIf="!havePro">Create One</button>

        </mat-card-header>
        <img mat-card-image [src]="userDetail.image" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div>
            <mat-card-title style="display: inline-block">Phone Number  :</mat-card-title><a> </a>
            <mat-card-title style="display: inline-block">&nbsp;{{userDetail.phone}}</mat-card-title>
          </div>
          <div>
            <mat-card-title style="display: inline-block">Address  :</mat-card-title><a> </a>
            <mat-card-subtitle style="display: inline-block">&nbsp;{{userDetail.address1}}&nbsp;{{userDetail.address2}}&nbsp;{{userDetail.city}},&nbsp;{{userDetail.state}}&nbsp;{{userDetail.zip}}</mat-card-subtitle>
          </div>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="modify-profile"  (click)="sh.showHome = false">EDIT PROFILE</button>
          <button mat-button (click)="openDialog()">CHANGE PHOTO</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <router-outlet></router-outlet>

  </mat-drawer-container>
</div>

